<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        h1{text-align: center;}

      a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#ffcc00;}
    </style>
</head>
<body style="background-color:powderblue;">
<section id="IPL">
    <h1>IPL Analysis</h1>
</section>
<section id="button">
    <div class="content">
    <li><a href="/MIES"class="one">Matches in Every Season</a></li>
    <li><a href="/MPW"class="one">Matches Playes VS Wins</a></li>
    <li><a href="/MPWWP"class="one">Matches Played, Wins & Win Percentage</a></li>
    <li><a href="/SM"class="one">Stadium VS Matches</a></li>
    <li><a href="/DAWT"class="one">Decision after Winning toss</a></li>
    <li><a href="/RDPS"class="one">Runs distribution per season</a></li>
    <li><a href="/HSOI"class="one">Highest score of IPL</a></li>

</div>
<div class="feed_form2">

    <a class="button" href="/Home">Back</a> <br>
    </div>

</section>

</body>
</html>
