<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/mainpage.css">
        <style>
            h1{text-align: center;}
             body {

  background-image: url('/static/ipl1.jpg');
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;



}
a.one:link {color:#ff0000;}
a.one:visited {color:#ffcc00;}
a.one:hover {color:white;}
a.two:link {color:#ff0000;}
a.two:visited {color:#ffcc00;}
a.two:hover {color:white;}
        </style>
        <title>
            Ipl Analysis and Match Prediction
        </title>
    </head>
    <body>
    <section id="IPL">
        <div class="ipl">
            <h1>IPL Analysis and Match Prediction</h1>
        </div>

    </section>

    <section id="button">
        <div class="content">
        <li><a href="/Analysis"class="one">IPL Analysis</a></li>
        <li><a href="/Prediction" class="two">Match Prediction</a></li>
    </div>
    </section>
    </body>
</html>
