<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/mainpage.css">
        <style>
            h1{text-align: center;}
            img {
            display: block;
            width:100px;
            height:500px;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
          }
 </style>
        <title>
            RCB
        </title>
    </head>
    <body>
    <section id="IPL">
        <div class="ipl">
            <h1>Congratulations RCB Won The Match</h1>
        </div>

    </section>
    <img src="/static/rcb.png" alt="Paris" style="width:50%;">
    </body>
</html>
